@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700&family=Roboto+Slab:wght@300;400;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* colores // 

azul: #009bb4

///////////*/

* {
	@apply m-0 p-0 box-border focus:outline-none
}

html {
    @apply scroll-smooth
}

body {
	@apply overflow-x-hidden bg-slate-100 w-screen min-h-screen font-NotoSans text-neutral-900 text-base
}

h1 {
	@apply font-RobotoSlab font-black text-[2.75rem] text-[#009bb4] uppercase
}

h2 {
	@apply font-RobotoSlab font-bold text-4xl text-[#009bb4] drop-shadow-md uppercase
}

@layer components {
	.navLi {
		background-color: var(--background-color);
		--background-color: transparent;
		--accent-color: #009bb4;
	}

	.navLi::before {
		content: "";
		position: absolute;
		inset: 0;
		background-color: var(--accent-color);
		transform: scaleX(0);
		transform-origin: left;
		transition: transform 250ms ease-out;
		z-index: -1;
	}

	.navLi:hover::before {
		transform: scaleX(1);
	}

    .carousel-bg::before {
		content: "";
		background-color: #000;
		opacity: 0.5;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
	}

	.tab::before {
		content: "";
		background-color: rgba(0, 0, 0, 0.25);
		position: absolute;
		right: 0;
		left: 0;
		bottom: -15%;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	.activeTab::before {
		content: "";
		background-color: #009bb4;
		position: absolute;
		right: 0;
		left: 0;
		bottom: -15%;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	.dropShadow {
		filter: drop-shadow(.15rem .18rem 0.2rem rgba(0, 0, 0, 0.3));
	}

	.tabImg::before {
		content: "";
		background-color: #009bb4;
		position: absolute;
		right: 40px;
		bottom: 10px;
		width: 50px;
		height: 10px;
		z-index: -1;
	}

	.tabImg::after {
		content: "";
		background-color: #009bb4;
		position: absolute;
		right: 40px;
		bottom: 10px;
		width: 10px;
		height: 50px;
		z-index: -1;
	}

	.tabTitle::before {
		content: "";
		background-color: rgba(0, 156, 180, 0.75);
		position: absolute;
		left: 0;
		bottom: 0;
		width: 104%;
		height: 35%;
		z-index: -1;
	}

	.parallaxImg {
		background-image: url(https://i.ibb.co/C0vwJ0t/MY2021-CFORCE-625-625-Touring-Action-4.jpg);
		position: relative;
		min-height: 35rem;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
	}

	.parallaxImg::before {
		content: "";
		background-color: #000;
		opacity: 0.5;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
	}
}
